/*
 * ZMK Keymap for disadv68
 *
 * Remember to map these bindings to your actual matrix positions
 * in your boards/shields/disadv68/disadv68.overlay file.
 * This layout assumes the keys are laid out sequentially matching
 * the QMK LAYOUT macro order from your keymap.c.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp Q  &kp W  &kp E  &kp T  &kp A  &kp Y  &kp U  &kp O  &kp I  &kp P  &trans  &trans  &kp A  &kp S  &kp D  &kp F  &trans  &kp J  &kp K  &kp SEMI  &kp L  &trans  &trans  &trans  &kp Z  &kp X  &kp C  &kp V  &trans  &kp N  &kp DOT  &kp M  &kp COMMA  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

