/* ZMK Keymap for disadv68 based on QMK keymap.c */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Adjust binding counts based on your matrix size (e.g., 84 keys for a 6x14 layout)
            // You will need to map these bindings to your actual matrix positions in your shield file.
            // This layout assumes the keys are laid out sequentially matching the QMK LAYOUT macro order.

            bindings = <
&kp EQUAL  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS  &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSLH  &kp ESC  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp SQT  &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT  &kp GRAVE  &kp LGUI  &kp LEFT  &kp RIGHT  &kp DOWN  &kp UP  &kp LBKT  &kp RBKT  &kp LCTRL  &kp LALT  &kp RALT  &kp RCTRL  &kp BSPC  &kp SPACE  &mo 1  &kp PG_UP  &kp RET  &kp SPACE  &kp CAPS  &kp PG_DN
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F12  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bootloader  &trans  &trans  &trans  &kp HOME  &kp END  &trans  &trans  &trans  &sys_reset  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
